.team {
    background-color: $secondaryBgColor;
    &__title{
        margin-bottom: 30px;
        @media (min-width: 1200px) {
            margin-bottom: 50px;
            }
    }
    // Team-card

    &__list {
        @extend %list;
        @media ( min-width:768px ) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        }
    }
}

.team-card {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    &__thumb {
            padding: 30px 0;
            background-color: $whiteColor;
        }
    &__title {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        color: $titleTextColor;
        text-align: center;
        letter-spacing: 0.03em;
        margin-bottom: 10px;
    }
    &__text {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        margin-bottom: 16px;
    }
    &__img {
        @media (max-width:767px) {
            width: 100%;
        }
    }
    & +& {
        @media (max-width:767px) {
        margin-top: 30px;
        }
        
    }
    @media ( min-width:1200px ) {
        margin-top: 0;
    }
}
